<header>
    <h1 class="text-center">How to Build a PC</h1>
    <p class="text-center">Turn your components into a rig that you can be proud of.</p>
</header>
<body>
    <div class="mx-auto">
            <div class="">
                <img src="how-to-build-pc-rig.jpg" alt="PC Rig">
            </div>
            <p>
                Many pre-built gaming PCs are available, but there's a special feeling when you use one that you put together on your own. Building a computer might seem intimidating at first, even though it's not that hard. If you're taking on your first build or it's been a while, we've created a simple, step-by-step guide to help you build your own PC.
            </p>
            <p>
                Before we start, just know this guide is all about putting together your computer. So, first things first, choose the parts you need. We've got a list of tested and approved cases, CPUs, GPUs, motherboards, SSDs, power supplies, and RAM to help you decide. Or if you have a specific budget, check out our Best PC Builds page.
            </p>
            <p>
                Another important thing to remember is that every build is unique. The sequence we're following here is influenced by both personal preference and the requirements of our particular build. For example, if you've got a big aftermarket cooler that extends over the RAM slots, it might make sense to install your memory first. Similarly, if you're putting in an AIO cooler radiator at the top of your case, it's often a good idea to connect any power or fan cables up there before the cooler blocks access to the ports and headers.
            </p>
             <p>
                 Similarly, if you're dealing with a notably compact or tight case, along with a massive high-end graphics card, you might have to change the order of installation. In such cases, the graphics card could obstruct access to numerous ports, slots, and connectors.
             </p>
            <p>
                In short, don't be surprised if you need to backtrack and pull out a part here or there to accommodate the quirks of your particular build. But don't get frustrated, as complications like this are common, even for people who have been regularly building PCs for decades.
            </p>
            <h2>
                Getting things ready.
            </h2>
            <!-- Ide majd egy képet kéne berakni. -->
            <p>
                Before you start building a PC, you need to get your workspace ready. Make sure that you have all of your parts and tools at the ready. At the very least, you’ll want:
            </p>

    </div>
</body>