<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#7952b3">
  <link href="login.component.css" rel="stylesheet">
</head>
<body class="text-center">
  <main class="form-signin mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <img class="mb-4" [src]="link" alt="Site Logo" width="200" height="200">
      <h1 class="h3 mb-3 fw-normal">Please Log In</h1>
      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" formControlName="rememberMe"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
      <!-- Display API response message -->
      <div *ngIf="message" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
        {{ message }}
      </div>
    </form>
  </main>
</body>
</html>
