.container {
    max-width: 600px;
    margin: auto;
  }
  
  .build-pc-header {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center items vertically within the flex container */
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
  }
  
  .icon {
    height: 100%; /* Set height to 100% of the parent container (text) */
    margin-right: 8px; /* Add some space to the right of the icon */
  }
  
  .component-category {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
    color: #555;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Customize styles as needed */
  
  
  