<h2>User Configurations</h2>

<table class="table">
  <thead>
    <tr>
      <th>Case</th>
      <th>CPU</th>
      <th>CPU Cooler</th>
      <th>GPU</th>
      <th>Internal Hard Drive</th>
      <th>Memory</th>
      <th>Motherboard</th>
      <th>Power Supply</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let config of configs">
      <td>{{ config.case }}</td>
      <td>{{ config.cpu }}</td>
      <td>{{ config.cpu_cooler }}</td>
      <td>{{ config.gpu }}</td>
      <td>{{ config.internal_hard_drive }}</td>
      <td>{{ config.memory }}</td>
      <td>{{ config.motherboard }}</td>
      <td>{{ config.psu }}</td>
      <td>
        <button (click)="modifyConfig(config.id)" class="btn btn-primary">Modify</button>
      </td>
      <td>
        <button (click)="deleteConfig(config.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
