.container {
    margin-top: 50px;
  }
  
  .col {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .list-group-item {
    border: none;
  }
  
  .form-select {
    width: 100%;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .col {
      margin-bottom: 20px;
    }
  }
  