<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PCBuilder - Home</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>

  <main>
    <section class="hero">
      <h2>Pick Parts. Build Your PC.</h2>
      <p>We provide part selection, pricing, and compatibility guidance for do-it-yourself computer builders.</p>
      <a class="nav-link" class="btn" href="builder">Start Building</a>
    </section>

    <section class="features">
      <div>
        <img src="assets/cpu_icon.png">
        <h3>Wide Range of Components</h3>
        <p>Choose from a variety of processors, motherboards, graphics cards, and more.</p>
        
      </div>
      <div>
        <img src="assets/controller_icon.png">
        <h3>Easy Customization</h3>
        <p>Customize your PC to meet your exact needs and budget.</p>
      </div>
      <div>
        <img src="assets/headset_icon.png">
        <h3>Expert Support</h3>
        <p>Get assistance from our team of experts to build your perfect PC.</p>
      </div>
    </section>
  </main>
</body>
</html>
